<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.BaseLogMapper"> 
	
	<insert id="saveBaseLog" parameterType="cn.entity.BaseLog">
		insert into baselog(userId,erpId,createDate,operateTable,operation,content,ip,createTime)
		values(#{userId},#{erpId} ,CURDATE() ,#{operateTable},#{operation},#{content} ,#{ip} ,now())
	</insert>
</mapper>